@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600;700&display=swap');

:root{
  /* --orangeBackground:  #F0A64610;
  --orange: #F0A646;
  --blue: #46B3F0;
  --blue20: #46B3F020;
  --darkBlue: #1F74A3;
  --darkOrange: #A45F06;
  --taskBox: White;
  --strokeBox: #D9D9D9;
  --taskDeleteButton: #D9D9D9;
  --white80: #ffffff80;
  --grayCompletedText: #9b9b9b; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  /* background: #F2F4F5;
  color: #1E1E1F;  */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}